<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to ejs</h1>

    <form action="/insert" method="post">
        <!-- id <input type="text" name="id" placeholder="id"> -->
        name <input type="text" name="name" placeholder="name">
        <input type="submit" >
    </form>

    <table border="1">
        <tr>
            <td>id</td>
            <td>name</td>
        </tr>

        <%student1.map((el)=>{%>
            <tr>
                <td><%=el.id%></td>
                <td><%=el.name%></td>
                <td><a href="/delete?id=<%=el.id%>">Delete</a></td>
                <td><a href="/edit1?id=<%=el.id%>">Edit</a></td>
            </tr>
       <% })%>
    </table>

</body>
</html>